<div class="row mt-5 text-center">
  <div class="offset-3 col-6">
    <h1>iTunes Project</h1>
  </div>
</div>

<%= render 'form' %>

<div class="row row-cols-1 row-cols-md-5 g-4">
  <% @albums.each do |album| %>
    <div class="col mb-3">
      <div class="card h-100">
        <img src= <%= album[:thumbnail] %> class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= album[:title] %></h5>
          <p class="card-text" style="height: 50px;"><%= album[:subtitle] %></p>          
        </div>
        <div class="card-footer text-body-secondary">
          <%= render 'favourite', album: album %>
        </div>
      </div>
    </div>
  <% end %>
</div>
